body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #3333334c;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.home-page {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Image de fond en taille de bannière */
.home-page img.hairImage {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
}

.home-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.237); 
    z-index: 1;
}


.home-page .content {
    position: relative;
    z-index: 2; 
    text-align: left;
    color: #fff;
    padding: 0 30px;
    max-width: 500px;
}

.home-page h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-page p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home-page .btn {
    background-color:  #d0a59d; 
    color: #ffffff ;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-page .btn:hover {
    background-color: #6b4f46; 
}
